name: GeyserMoreRows

on:
    push:
        branches: [main]
    pull_request:
        branches: [main]
    release:
        types: [created]

jobs:
    build:
        runs-on: ubuntu-latest

        steps:
            - uses: actions/checkout@v4

            - name: Set up JDK
              uses: actions/setup-java@v4
              with:
                  java-version: "21"
                  distribution: "zulu"

            - name: Build with Maven
              run: mvn -B package
              
            - name: Cache Maven packages
              uses: actions/cache@v4
              with:
                  path: ~/.m2
                  key: ${{ runner.os }}-m2-${{ hashFiles('**/pom.xml') }}
      
            - name: Upload artifact
              uses: actions/upload-artifact@v4
              with:
                  name: Plugin
                  path: target/*.jar

            - name: Upload to release
              if: github.event_name == 'release'
              uses: softprops/action-gh-release@v2
              with:
                  files: target/*.jar
